.git
.github
.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/hot
/public/build
/storage/*.key
/storage/pail
*.log
.DS_Store
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
tests/
.phpactor.json