services:
  - type: web
    name: laravel-backend
    env: php
    plan: free
    buildCommand: ""
    startCommand: "php artisan migrate --force && vendor/bin/heroku-php-apache2 public/"
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
